{% extends 'polls/base.html' %}


{% block title %}
My Polls
{% endblock %}

{% block content %}
    <br>
    <div class="container" style="margin: auto; position: center; width: 640px">
        <h1 style="display: flex; justify-content: center">Online Voting System</h1>
        <hr>
        <p style="text-align: justify; margin: fill">
            This website, the Online Voting System, is a course project of a first-year student
            at Kyiv Polytechnic Institute, Faculty of Informatics and Computer Engineering,
            Department of Information Systems and Technologies, group IS-21, Liepieiev Volodymyr Leonidovych.
            This project is free of plagiarism, and all rights belong to the author.
        </p>
    </div>
{% endblock %}