{% extends 'polls/base.html' %}
{% load social_share %}

{% block title %}
{{poll.title|truncatewords:3}}
{% endblock %}

{% block content %}

    <div class="container" style="margin: auto">
        <h1>Poll details</h1>
        <hr>
        <div class="alert alert-dark">
            <h4>{{poll.title}}</h4>
            <p>{{poll.description}}</p>
            <div style="display: flex; justify-content: space-between">
                <p>{{poll.date_created}}</p>
                <button class="btn btn-waring" style="background-color: #ffc107" id="copyButton">Copy link!</button>
                <script>
                  var copyButton = document.getElementById('copyButton');

                  copyButton.addEventListener('click', function() {
                    var currentUrl = window.location.href;

                    var tempTextarea = document.createElement('textarea');
                    tempTextarea.value = currentUrl;

                    document.body.appendChild(tempTextarea);


                    tempTextarea.select();
                    tempTextarea.setSelectionRange(0, 99999);


                    document.execCommand('copy');


                    document.body.removeChild(tempTextarea);


                    alert('Адресу скопійовано в буфер обміну.');
                  });
                </script>
            </div>

        </div>
        <hr>
        <div class="list-group mx-0">
            {% for candidate in poll.candidate_set.all %}
            <label class="list-group-item d-flex gap-2">
              <input class="form-check-input flex-shrink-0" type="radio" name="candidate" id="candidate-{{forloop.counter}}" value="{{candidate.id}}" disabled>
              <span>
                {{candidate.name}} {{candidate.middle_name}} {{candidate.last_name}}
                <small class="d-block text-muted">Age: {{candidate.age}}</small>
                <small class="d-block text-muted">Gender: {{candidate.gender}}</small>
              </span>
            </label>
            <br>
            {% endfor %}
            {% if user.is_authenticated %}
                <h5 style="color: firebrick">You have already voted:</h5>
                <a class="btn btn-warning" style="margin-right: auto" href="{% url 'results' poll.pk %}">Results</a>
            {% else %}
                <h5 style="color: firebrick">You must login to vote:</h5>
                <a class="btn btn-warning" style="margin-right: auto" href="{% url 'login' %}">Login</a>
            {%endif%}
        </div>
    </div>
{% endblock %}
